(function(win, doc) {

	<!-- {{ range $bundle := .Bundles }}
	{{$bundle}}
	{{ end }} -->

	{{ template "sharepoint.js" .}}

	var templates = {
	{{ range $key, $val := .Templates }}
		'{{$key}}': '{{$val}}',
	{{ end}}
	};

	var coolioLayout = {{.JSON}};

	{{ range $js := .Javascript }}
	{{$js}}
	{{ end }}

})(window, document);