<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="github.com/harboe">

	<title>Coolio</title>

	<!-- build:css static/css/editor.min.css -->
	<link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="../bower_components/codemirror/lib/codemirror.css" rel="stylesheet">
	<link href="../bower_components/codemirror/addon/hint/show-hint.css" rel="stylesheet">
	<link href="../bower_components/codemirror/theme/xq-light.css" rel="stylesheet">
	<link href="static/editor.css" rel="stylesheet">
	<!-- endbuild -->  
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Coolio</a>
			</div>
			
			<ul class="nav navbar-nav">
				<li><a href="#save"><i class="glyphicon glyphicon-pencil"></i> Save</a></li>
				<li><a href="#run">Run</a></li>
			</ul>
			<p class="navbar-text">View: {{.View}}, Version: {{.Version}}</p>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="{{.}}/asset">Asset</a></li>
				<li><a href="{{.}}/yaml">YAML</a></li>
				<li><a href="{{.}}/json">JSON</a></li>
			</ul>
		</div>
	</nav>
	<div id="editor" class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<div class="header">
					<a href="#yaml">Yaml</a> | 
					<a href="#html">Html</a> | 
					<a href="#js">Javascript</a>
					<span class="visible-xs"> | <a href="#result">Result</a></span>
				</div>
				<div id="yaml">
					<textarea class="fill form-control">{{.YAML}}</textarea>
				</div>
				<div id="html" style="display: none">
					<textarea class="fill form-control">{{.CustomHTML}}</textarea>
				</div>
				<div id="js" style="display: none">
					<textarea class="fill form-control">{{.CustomJS}}</textarea>
				</div>
			</div>
			<div class="col-sm-6 hidden-xs">
				<div class="header">Result</div>
				<iframe id="result" sandbox="allow-same-origin allow-scripts" x class="fill border"></iframe>
			</div>
		</div>
	</div>
	<input id="viewname" type="hidden" name="viewname" value="{{.View}}" />

	<!-- build:js static/js/editor.min.js -->
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>	
	<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	
	<script src="../bower_components/codemirror/lib/codemirror.js"></script>
	<script src="../bower_components/codemirror/keymap/sublime.js"></script>
	<script src="../bower_components/codemirror/addon/hint/show-hint.js"></script>
	<script src="../bower_components/codemirror/addon/hint/css-hint.js"></script>
	<script src="../bower_components/codemirror/addon/hint/html-hint.js"></script>
	<script src="../bower_components/codemirror/addon/hint/javascript-hint.js"></script>
	<script src="../bower_components/codemirror/mode/css/css.js"></script>
	<script src="../bower_components/codemirror/mode/htmlembedded/htmlembedded.js"></script>
	<script src="../bower_components/codemirror/mode/yaml/yaml.js"></script>
	<script src="static/editor.js"></script>
	<!-- endbuild -->
</body>