<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="github.com/harboe">

	<title>Coolio</title>

	<link href="/static/bootstrap.min.css" rel="stylesheet">
	<link href="/static/codemirror.css" rel="stylesheet">
	<link href="/static/xq-light.css" rel="stylesheet">

	<script src="/static/jquery.min.js"></script>	
	<script src="/static/bootstrap.min.js"></script>
	<script src="/static/knockout.js"></script>
	<script src="/static/codemirror.min.js"></script>

	<style>
		html, body, .fluid-container {
			height: 100%;
		}

		.border {
			border: 1px solid #ccc;
			border-radius: 4px;
			display: block;	
			width: 100%;
		}
	</style>

	<script type="application/javascript">
		$().ready(function() {

			var resize = function() {
				var height = $('body').height() - $('nav').outerHeight() - 80;
				$('.fill, .CodeMirror').css('height', height + 'px');
			};

			var cm = CodeMirror.fromTextArea(document.getElementById("yaml"), {
			    lineNumbers: true,
			    extraKeys: { Tab: function(cm) {
			      if (cm.somethingSelected()) {
			        cm.indentSelection("add");
			      } else {
			        cm.replaceSelection(cm.getOption("indentWithTabs")? "\t":
			          Array(cm.getOption("indentUnit") + 1).join(" "), "end", "+input");
			      }
			    }}
			});

			var throttle_timer;
			// on and off handler like in jQuery
			cm.on('change', function(cm){
				clearTimeout(throttle_timer);
				throttle_timer = setTimeout(function() {
				    var iframe = document.getElementById('html');
				    console.log('value: ' + cm.getValue())
				    $.post('/preview', cm.getValue(), function(e) {
				    	iframe.srcdoc = e;
				    });
				}, 500);
			});

			$('.CodeMirror').addClass('border');

			resize();
			$(window).resize(resize);
		});
	</script>
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	  	<div class="navbar-header">
	  		<a class="navbar-brand" href="/">Coolio</a>
	  	</div>
	  	<ul class="nav navbar-nav">
  	        <li class="active"><a href="#">Editor</a></li>
  	    </ul>
	  </div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<label for="yaml">YAML</label>
				<textarea id="yaml" class="fill form-control">{{.YAML}}</textarea>
			</div>
			<div class="col-sm-6 col-hidden-xs">
				<label for="html">Result</label>
				<iframe sandbox="allow-same-origin allow-scripts" src="/preview/{{.View}}/{{.Version}}" id="html" class="fill border"></iframe>
			</div>
		</div>
	</div>
</body>